*{
    font-family: "Poppins", sans-serif;
}

.primary-btn-color{
    background-color: #4f39f6;
}
.primary-text-color{
    color: #4f39f6;
}

.menuList li:hover {
    color: #4f39f6;
    background-color: none;
    cursor: pointer;
}
.menuList li:active{
    color: #4f39f6;
}
.active{
    background-color: #4f39f6;
    color: white;
}